.echarts{
    position: relative;
    width: 90%;
    height: 80%;
    &::before{
        color: white;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        content: '每日活跃人数';
        display: block;
        position: absolute;
        width: 40%;
        height: 20px;
        border-radius:20px ;
        border-bottom: 2px skyblue solid;
        border-left: 2px skyblue solid;
        top:-13%;
        left: 65%;
        background: linear-gradient(to right,rgba(0,209,255,.2),rgb(41,106,232));
    }
}