.main{
    display: flex;
    height: 92vh;
    width: 100%;
    border: 1px black solid;
    box-sizing: border-box;
   .con{
       width: 50%;
       height: 100%;
       box-sizing: border-box;
    
       .l_bottom{
        box-sizing: border-box;
        height: 37vh;
        width: 100%;
    }
    .l_top{
        box-sizing: border-box;
        height: 55vh;
    }
   }
  
}